.parent{
    display: flex;
}
.sidebar{
    width: 200px;
    height: 100vh;
    background-color: dodgerblue;
    padding: 15px;
}
.sidebar a{
    display: block;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    color: #787878;
    text-decoration: none;
}
.content{
    padding: 20px;
}

.active{
    background-color: green !important;
    color: white !important;
}