.parent-form{
    width: 1170px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-form form{
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}
.parent-form form input, .parent-form form select{
    width: 100%;
    font-size: 19px;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
}

.parent-form form button{
    border: none;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: dodgerblue;
    margin-top: 10px;
}